package serviceworker



templ Register(args RegisterArgs) {
	if args.Enabled {
		<script>
			if ('serviceWorker' in navigator) {
				window.addEventListener('load', function() {
					navigator.serviceWorker.register('/sw.js', {
						scope: '/',
						updateViaCache: 'imports'
					}).then(function(registration) {
						console.log('ServiceWorker registration successful');
					}).catch(function(err) {
						console.log('ServiceWorker registration failed: ', err);
					});
				});
			}
		</script>
	}
}