datastarui
datastarui~
datastarui-linux
datastarui.exe
datastarui.exe~
static/css/out*
.tmp/
log/
node_modules/
static/js/datastar.js
static/js/datastar-inspector
static/js/datastar-inspector*
